.flexBody {
    background-color:#333333;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.flexMain{
    flex:1;
}

.icon-menu{
    margin-bottom:-165px;
}

.welcomebox {
    border:2px;   
}

.icon-menu pre {
display: inline-block;
margin-bottom: none;
margin-right: 20px;
font-size: 1em;
cursor: pointer;
}

.menu {
  background-color:transparent;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
}

.menu ul {
  border-top: 1px solid #3DFF0E;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #3DFF0E;
  font-family: 'Share Tech Mono',sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #3DFF0E;
  font-size: 23px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close{
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 2em;
    color: #3DFF0E;
    position:relative;
    left: 225px;
    cursor: pointer;
}

.gicon {
    position:relative;
    left: 2em;
}


pre {
    margin-bottom: 30px;
    color: #3DFF0E;
    font-size:.5em;
    background-color:#333333;
    border: none;
    text-align:center;
    text-decoration: none;
}

.welcometxt {
    font-size: 1.2em;
    color: #3DFF0E;
    padding-top:5em;
}

table, td {
    width: 265px;
    height: 100px;
    margin-right:auto;
    margin-left: auto;
    border: 1px solid;
    color: #3DFF0E;
    text-align: center;
    cursor: crosshair;
    font-family: 'Share Tech Mono',sans-serif;
    font-size: 1.3em;
}

.credit {
    font-family: 'Share Tech Mono',sans-serif;
    color: #3DFF0E;
    text-align:center;
    font-size: .85em;
}

.cell p {
    text-align:center;
}

.myButton {
    margin: auto;
	-moz-box-shadow:inset 0px 1px 0px 0px #3eff0e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #3eff0e;
	background-color:transparent;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #3eff0e;
	display:inline-block;
	cursor:pointer;
	color:#3EFF0E;
	font-family:'Share Tech Mono',sans-serif;
	font-size:25px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3eff0e;
}
.myButton:hover {
	background-color:transparent;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* News Content */

.centerBlock{
    display: block;
    width:54%;
    margin-left:auto;
    margin-right: auto;
    padding-top:1em;   
    padding-bottom:1em;
}

.newsHeader{
    font-family: 'Share Tech Mono',sans-serif;
    font-size: 2em;
	color:#3EFF0E;
}


.newsTitles{
    font-family: 'Share Tech Mono',sans-serif;
    font-size: 1em;
	color:#3EFF0E;
}

a{
    text-decoration: none;
}

#weather{
    margin: 0px auto;
    text-align:center;
}

#weatherBlock{
    display: block;
    width:54%;
    margin-left:auto;
    margin-right: auto;
    padding-top:6em;   
    padding-bottom:1em;
    font-family: 'Share Tech Mono',sans-serif;
	color:#3EFF0E;
    text-align: center;
}

li {
    list-style: none;
}

input, .btn{
    border-radius: 2px;
    border: 1px solid #3EFF0E;
    background-color: transparent;
    font-family: 'Share Tech Mono',sans-serif;
	color:#3EFF0E;
    font-size: 1.5em;
    margin-top:5%;
}

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weather {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

i {
  color: #3EFF0E;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #3EFF0E;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: transparent;
  padding: 4%;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}




