<!DOCTYPE html>
<html lang="en">
    <head>
         <title>CEG 2.0 News</title>
         <meta charset = "utf-8">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
         <script src="js/newsInteractive.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>

         <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
         <link rel="stylesheet" type="text/css" href="css/News.css">


         <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    </head>
    
   <div class="menu">
        <div class="icon-close">
            ESC
        </div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="games.html">Games</a></li>
            <li><a href="search.html">Search</a></li>
        </ul>
    </div>
     
    <div class="icon-menu">
        <pre class = "gicon">
 ______    
/\  ___\   
\ \ \__ \  
 \ \_____\ 
  \/_____/ 
           


        </pre>
    </div>

    <pre>
      _____ ___    ___   ___   ____ ____ ____        ____ __    ____ _____ ______ ___   ____ _____
     / ___// _ |  / _ \ / _ \ /  _// __// __/       / __// /   / __// ___//_  __// _ \ /  _// ___/
    / /__ / __ | / , _// // /_/ / / _/ / _/        / _/ / /__ / _/ / /__   / /  / , _/_/ / / /__  
    \___//_/ |_|/_/|_|/____//___//_/  /_/         /___//____//___/ \___/  /_/  /_/|_|/___/ \___/  

    </pre>

    <!--
    <body ng-app="NewsApp">
        <div class ="container">
            <div class="row">
                <div class ="col-md-4 col-md-offset-4">
                    <div class="main" ng-controller="MainController">
                        <h1>Headlines</h1>
                        <div class="news" ng-repeat="title in headlines.results">
                        <a href = "{{ title.webUrl }}"><p>{{ title.webTitle }}</p></a>     
                        </div>
                    </div>                
                </div>
            </div>
        </div>
        ---->
    <center>        
        <div class ="myButton newsButton">News</div>
        <div class ="myButton sportsButton">Sports</div>
        <div class ="myButton weatherButton">Weather</div>
    </center>

    
    
        <body class="flexBody"  ng-app="NewsApp">
            <main class = "flexMain">
                <div id="newsBlock">
                    <div class="centerBlock">
                        <div class="main" ng-controller="MainController">
                            <h1 class="newsHeader">Headlines</h1>
                            <div class="news" ng-repeat="title in headlines.results">
                            <a href = "{{ title.webUrl }}"><p class=newsTitles>{{ title.webTitle }}</p></a>     
                            </div>
                        </div> 
                    </div>            
                </div>
                <div id = "sportsBlock">
                    <div class="centerBlock">
                        <div class="main" ng-controller="SecondController">
                            <h1 class="newsHeader">Sports</h1>
                            <div class="news" ng-repeat="title in sportHeadlines.results">
                            <a href = "{{ title.webUrl }}"><p class=newsTitles>{{ title.webTitle }}</p></a>     
                            </div>
                        </div> 
                    </div>            
                </div>
                <div id="weatherBlock">
                  <div id="weather"></div>
                  <input type = "text" placeholder="input location">
                  <button class = "btn">go</button>              
                </div>
            </main>

            <p class = "credit">
                Copyright 1985 Cardiff Electric<br>
                by Phillip Son and Cameron Howe<br>
            </p>
            
            
        <!-- App -->
        <script src="js/app.js"></script>

        <!-- Controller -->
        <script src="js/controller/MainController.js"></script>
        <script src="js/controller/SecondController.js"></script>


        <!-- Services -->
        <script src="js/services/news.js"></script>
        <script src="js/services/sports.js"></script>
    </body>
</html>


